# Django and DRF
Django==5.2
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.11

# Environment variables
python-decouple==3.8
python-dotenv==1.2.1

# Image handling
Pillow==12.0.0

# Cloudinary for media storage
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# Static files (WhiteNoise)
whitenoise==6.11.0

# WSGI Server for production
gunicorn==23.0.0
