# Django and DRF
Django==4.2.25
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.11

# Environment variables
python-decouple==3.8
python-dotenv==1.0.1

# Image handling
Pillow==11.2.1

# Cloudinary for media storage
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# WSGI Server for production
gunicorn==22.0.0
